html,body {
    font-family: sans-serif;
    max-width: 100%;
    overflow-x: hidden;

}

.navbar
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #38B6FF;
}

.nav-item
{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
}

.navbar-nav .nav-link , .navbar-brand
{
    color:white ;
}

.navbar-nav .nav-item.active .nav-link
{
    color:rgb(117, 92, 138) !important;
}

.navbar-nav .nav-item .nav-link:hover
{
    color:rgb(117, 92, 138) !important;
}

.navbar-brand
{
    color: white;
}

.navbar-brand:hover
{
    color: white;
}

.navbar-toggler:focus
{
    outline: none;
}

.menu-toggle .bar
{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu-toggle
{
    justify-self: end;
    display: none;
}

.menu-toggle:hover
{
    cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2)
{
    opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1)
{
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3)
{
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

@media only screen and (max-width: 767px)
{ 
    .menu-toggle, .bar
    {
        display: block;
        cursor: pointer;
    }

    .mobile-nav
    {
        transform: translate(0%)!important;
        float: left;
        padding-right: 0px;
        margin-right: 0px;
    }
}

.intro-content
{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.intro-corousel
{
    font-size: 20px;
    font-weight: bold;
}

.slide.carousel-item
{
    height: 500px;
} 

.slide.carousel-item img
{
    height: 500px;
}

.container.content
{
    padding-bottom: 30px;
}

/* Footer Styles*/

#footer
{
    background: #2e3339;
    color: #fff;
    font-size: 14px;
}

.footer-head
{
    font-size: 25px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer-content
    {
        padding-bottom: 40px;
        padding-top: 40px;
        padding-left: 50px;
    }  

@media only screen and (max-width: 720px)
{
    .footer-content
    {
        padding-top: 30px;
        padding-bottom: 0px;
        padding-left: 0px;
    }    
    .contactus , .social , .navi-links
    {
        margin-bottom: 30px;
    }
}


.social { text-align: center; float: left;}

.social ul { float: left; padding-top: 0px; padding-inline-start: 0px;margin-left: 5px;}

.social ul li { display: inline-block; }

.social ul li a
{ 
    font-size: 25px; 
    color: #fff; 
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #2e3339;
    border-radius: 6px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 
}

.social ul li:hover a 
{ 
    background: #0060f0;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.contact-list {list-style: none; padding-inline-start: 0px;}

.contact-list li {font-size: 15px; margin-bottom: 5px;}

.contact-list li >ion-icon {float:left; width:20px; height:20px; margin-right: 5px;}

.contact-list li >ion-icon, .contact-list li> span, .contact-list li { overflow: hidden;}

.contact-list li>span{ display:block;}

.contact-list>li a
{
    text-decoration: none;     
    color:#38B6FF;
}

.contact-list>li a:hover
{    
    color:#a0cfeb;
}


.nav-list {list-style: none; padding-inline-start: 0px;}

.nav-list li {font-size: 15px; margin-bottom: 10px;margin-left: 10px;}

.nav-list li >ion-icon {float:left; width:15px; height:20px; margin-right: 5px; color:#38B6FF;}

.nav-list li >ion-icon, .nav-list li> span, .nav-list li { overflow: hidden;}

.nav-list li>span{ display:block;}

.nav-list>li a
{
    text-decoration: none;     
    color:white;
}

.nav-list>li a:hover
{    
    color:#a0cfeb;
}
