    
.project-content
{       
    display: block;
    padding-top: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pro-content
{
    font-size: 18px;
}


.project-heading
{
    text-transform: none;
    color: #38B6FF;
    font-weight: bolder;
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.tab-content
{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eeeeee;
    box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.322);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link
{
    background-color: rgb(253, 137, 59);
}

.tabs
{
    margin-bottom: 50px;
    margin-top: 50px;
}

.section-content
{
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 30px;
}

.card
{
    margin: 10px;
    border-radius: 6px;
}

.card:hover, .card:focus
{
    box-shadow:0 8px 16px 0 rgba(0, 0, 0, 0.5);  
}

.card-img-top
{
    border-radius: 50%;
    align-self: center;
    width: 250px;
    height: 250px;
    padding: 15px;  
}

.card-title
{
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}
.card-text
{
    clear: both;
    padding: 10px;
}


    
@media (max-width:770px)
{ 
    .card
    {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .section-content
    {
        padding-right: 8px;
        padding-left: 8px;
    }

    .carousel-item
    {
        padding-left: 0px !important;
        padding-right: 0px !important;
    } 

}


@media (max-width: 508px)
{

    .slide-btn
    {
        background-color: #38B6FF;
        color: white;
        font-weight: bold;
        font-size: 45px;
        line-height:45px;
        width: 50px;
        height: 50px;
        padding: 0;
        margin: 0;
        display: inline-table;
    }


    .prev
    {
        
        background-color: transparent;
        font-weight: bold;
        font-size: 45px;
        line-height:45px;
        height: 50px;
    }    
    
    .tabs
    {
        margin-bottom: 20px;
        margin-top: 20px;
    }

}

@media (min-width: 508px)
{
    .slide-btn
    {
        display: none;
    }


    .prev
    {
        display: none;
    }

}



@media (min-width: 768px)
{
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item
    {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item
    {
        transition: ease-in;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev
    {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item
    {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item 
    {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right
    {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item
    {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}



.carousel-item img
{
    height: 250px !important;
}


.previous-round,.next-round
{
    display: inline-block;
}

.previous-round:hover , .next-round:hover
{
    color: black;
}

.previous-round
{
    font-size: 70px;
    color: black;
    margin-right: 180px;
}

.next-round
{
    font-size: 70px;
    color: black ;
    margin-left: 180px;
}


.modal
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;
    border-radius: 0px;
    width: 1000px;
    margin: auto;
}

.modal-header
{
    color: blue;
    background-color: #f5f5f5;
    align-self: center;
    font-size: x-large;
    border-radius: 0px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.modal-dialog
{
    animation:animatezoom 0.6s;
    margin: auto;
}

@keyframes animatezoom
{
    from{transform:scale(0)} to{transform:scale(1)};
}

.modal-content
{
    border-radius: 0px;
}
.modal-img
{
    height: 270px;
    width: 320px;
    padding-top: 20px;
    border-radius: 6px;
}


/* MODAL TITLES IN H5 TAG */
h5
{
    position: relative; 
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    overflow: hidden; 
    color: #5497d6;
}

h5:before, h5:after
{
    position: absolute;
    top: 50%;
    content: '';
    width: 50%;
    height: 2px;
    display: inline-block;
    background: #5497d6;
}

h5:before
{
    margin-left: calc(-50% - 14px);
}

h5:after
{
    margin-left: 14px;
}

@media (max-width:500px)
{

.modal-dialog
{
    animation:none;
    margin:auto;
}

.modal
{

    width: 300px;
    margin: auto;
    height: 600px;
}

.modal-img
{
    height: 170px;
    width: 220px;
    padding-top: 10px;
    border-radius: 6px;
}

h5
{
    padding: 0px;
    margin:0px
}

.modal-header
{
    align-self: center;
    font-size: large;

}
}